
*.pdb
*.idb
*.txt
*.tlog
*.obj
*.log
*.recipe
*.ilk
*.exe
*.user
*.filters
*.vcxproj
*.ipch
*.vsidx
*.lock
*.db
Behavioral/Strategy/.vs/Strategy/v17/.suo
*.json
*.sqlite
Behavioral/Strategy/Strategy/.vs/Strategy/v17/.suo
*.db-shm
*.db-wal
*.opendb
*.sln
Behavioral/Observer/Observer/.vs/Observer/v17/.suo
Structural/Decorator/Decorator/.vs/Decorator/v17/.suo
Creational/Factory/Factory/.vs/Factory/v16/.suo
Creational/Singleton/.vs/Singleton/v17/.suo
Creational/Singleton/Singleton/.vs/Singleton/v17/.suo
